<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RAMG STORE</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <nav class="navbar">
      <div class="logo-container">
        <a href="/home">
          <img src="/img/martinez.webp" alt="Logo" class="logo">
        </a>      
      </div>
      <ul class="nav-links">
        <li>
          <a href="/carts" class="cart-btn">🛒</a>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    {{{body}}}
  </main>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/index.js"></script>
</body>
</html>